<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Search TestSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.parellelFramework.reportUtils.ExtentReportListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="search_TC1">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.parellelFramework.tests.LoginTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="search_TC2">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="com.parellelFramework.tests.LoginTest"/>
        </classes>
    </test>
</suite>