<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.testbase.Screenshotutils" />
	</listeners>
	<test name="HomepageTest">
		<classes>
			<class name="com.testbase.PagefactoryBase" />
			<class name="com.Tests.VerifyHomePage" />
		</classes>
	</test> <!-- Test -->
	<test name="RegisterTest">
		<classes>
			<class name="com.Tests.VerifyRegisterPage"/>
		</classes>
	</test>
</suite> <!-- Suite -->
